.links

  = mail_to("contact@ekylibre.org", title: "contact[at]ekylibre[dot]org") do
    %i.comm.icon-envelope

  = link_to("https://twitter.com/EkylibreERP", title: "@EkylibreERP") do
    %i.comm.icon-twitter

  = link_to("https://www.facebook.com/pages/Ekylibre/219433324846514", title: "Facebook") do
    %i.comm.icon-facebook
     
  = link_to("https://plus.google.com/106303796269953490281/about", title: "Google Plus") do
    %i.comm.icon-google-plus
  
  = link_to("http://www.youtube.com/channel/UC_yYJGkq-aqC-So8DlXtM5g", title: "You Tube") do
    %i.comm.icon-youtube