= title("Ekylibre")

= slide :head do
  %br
  %br
  = image_tag("ekylibre.svg", :id => :ekylibre)

= slide :about do
  :markdown
    Ekylibre est le logiciel de gestion intégré pour les exploitation agricoles. Le logiciel est distribué sous la licence GNU Affero GPL v3. Il comprend les modules suivants :

      * Gestion des relations Clients/Fournisseurs
      * Comptabilité générale
      * Gestion commerciale : ventes, achats
      * Gestion des stocks : inventaires, approvisionnements, livraisons
      * Gestion de production : animales, végétales, transformations, parcelles, équipements
      * Outils : gestion des documents, calculateurs, référentiels...
      * Configuration : paramètres, utilisateurs, plan de comptes, types de produits...

    C’est une application web (donc multi-postes) basée sur le framework [Ruby on Rails](http://rubyonrails.org).
  = render "links"

= render "menu"

= slide :video do
  %iframe{src: "http://www.youtube.com/embed/#{@video}?autohide=1&autoplay=0&color=white&modestbranding=1&rel=0&showinfo=0&theme=light&listType=user_uploads", frameborder: 0, allowfullscreen: true, class: "video"}

= slide :news do
  %h2 
    %i.icon-bullhorn
    Actualités
  = render "news"

= slide :screenshots do
  %h2 
    %i.icon-desktop
    Copies d'écrans
  .screenshots= screenshots

= slide :demo do
  %h2 
    %i.icon-play-sign
    Démonstration
  %p 
    Cette version est basée sur la dernière version du projet. Mise à jour régulièrement.
    De ce fait, elle présente l'ensemble des dernières nouveautés :
  %ul
    %li= link_to("Accéder à la démonstration", 'http://demo.ekylibre.org')

= slide :partners do
  %h2 Partenaires      
  %h3 Ekylibre
  %p Jeune start-up qui reprend le flambeau du projet Ekylibre et en assure la gestion et le développement.
  %p Elle propose des prestations autour de ses outils libres.
  %p
    = link_to("Site officiel", "http://ekylibre.com")
    = " &bull; ".html_safe
    = link_to("Offre", "http://ekylibre.com/offers/farmers")
  %h3 Ergolis
  %p Premier diffuseur de la solution Ekylibre sous forme de service en ligne.
  %p
    = link_to("Site officiel", "http://ergolis.com")
    = " &bull; ".html_safe
    = link_to("Offre", "http://ergolis.com#pricing")

= slide :legals do
  :markdown
    Ce projet a été cofinancé par l'Union Européenne. L'Europe s'engage en Aquitaine avec le Fonds européen de développement régional. 

    Conseil Régional d'Aquitaine • Service d'Aide et de Conseil aux Exploitants Agricoles
