= title("Ekylibre")

= slide :head do
  = image_tag("ekylibre.svg", :id => :ekylibre)

= slide :about do
  :markdown
    Ekylibre is a farming ERP distributed under GNU GPL v3 license. It includes following modules:

      - Relationship management
      - Accountancy
      - Sales, purchases, and stocks
      - Production management and traceability
      - User-based access control

    It's an web application based on [Ruby on Rails](http://rubyonrails.org).
  = render "links"

= render "menu"

= slide :video do
  %iframe{src: "//www.youtube.com/embed/_NMZMo7FtAk?autohide=1&autoplay=0&color=white&modestbranding=1&rel=0&showinfo=0&theme=light", frameborder: 0, allowfullscreen: true, class: "video"}

= slide :news do
  %h2 
    %i.icon-bullhorn
    News
  = news

= slide :screenshots do
  %h2 
    %i.icon-desktop
    Screenshots
  .screenshots= screenshots

= slide :demo do
  %h2 
    %i.icon-play-sign
    Demonstration
  %h3 Last development version (unstable)
  %p 
    This version uses the last sources of the project. Updated each day.
    Consequently, it's quite unstable but it shows all the last new features:
  %ul
    %li= link_to("Demonstration 1.0 (dev)", 'http://demo.ergolis.com')

  %h3 Last stable version
  %p 
    This version was released in january 2013. It's the recommanded version for production:
  %ul
    %li= link_to("Demonstration 0.4", 'https://ekylibre.org/demo-stable')  

= slide :download do
  %h2 
    %i.icon-download-alt
    Download
  %h3 Stable version 0.4.3
  :markdown

      - [Debian Wheezy and Ubuntu 10.10 Maverick (.deb)](https://ekylibre.org/releases/tags/0.4.3/debian/ekylibre_0.4.3_all.deb)
      - Sources: [ZIP](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.tar.bz2)

  %h3 Stable version 0.4.2
  :markdown

      - [Microsoft Windows XP SP2 at least (.exe)](https://ekylibre.org/releases/tags/0.4.2/win32/ekylibre-0.4.2.exe)
      - [Debian Squeeze and Ubuntu 10.10 Maverick (.deb)](https://ekylibre.org/releases/tags/0.4.2/debian/ekylibre_0.4.2_all.deb)
      - Sources: [ZIP](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.tar.bz2)

  %h3 Stable version 0.3.2.4
  :markdown

      - [Microsoft Windows XP SP2 at least (.exe)](https://ekylibre.org/releases/tags/0.3.2.4/win32/ekylibre-0.3.2.4.exe)
        Caution! From this version, a new database management system (PostgreSQL) has been integrated on Windows.
        **This version is incompatible with its predecessors <= 0.3.0**.
      - [Debian Squeeze and Ubuntu 10.10 Maverick  (.deb)](https://ekylibre.org/releases/tags/0.3.2.4/debian/ekylibre_0.3.2.4_all.deb)
      - Sources: [ZIP](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.tar.bz2)

  %h3 Other versions
  %ul
    %li= link_to("Last version ZIP", "https://github.com/ekylibre/ekylibre/archive/master.zip")
    %li= link_to("Last version TGZ", "https://github.com/ekylibre/ekylibre/archive/master.tgz")
    %li= link_to("Older versions", "https://ekylibre.org/releases/tags")

= slide :legals do
  :markdown
    This project is co-funded by European Union. Europe enrols in Aquitaine with the European Regional Development Fund. 

    Aquitaine Regional Council • SACEA
