= title("Ekylibre")

= slide :head do
  %br
  %br
  = image_tag("ekylibre.svg", :id => :ekylibre)

= slide :about do
  :markdown
    Ekylibre is a farming ERP distributed under GNU GPL v3 license. It includes following modules:

      - Relationship management
      - Accountancy
      - Sales, purchases, and stocks
      - Production management and traceability
      - User-based access control

    It's an web application based on [Ruby on Rails](http://rubyonrails.org).
  = render "links"

= render "menu"

= slide :video do
  %iframe{src: "http://www.youtube.com/embed/#{@video}?autohide=1&autoplay=0&color=white&modestbranding=1&rel=0&showinfo=0&theme=light&listType=user_uploads", frameborder: 0, allowfullscreen: true, class: "video"}

= slide :news do
  %h2 
    %i.icon-bullhorn
    News
  = render 'news'

= slide :screenshots do
  %h2 
    %i.icon-desktop
    Screenshots
  .screenshots= screenshots

= slide :demo do
  %h2 
    %i.icon-play-sign
    Demonstration
  %h3 Current version
  %p 
    This version uses the last stabilised sources of the project. 
    Consequently, it shows all the last new features:
  %ul
    %li= link_to("Access to Demonstration", 'https://www.ekylibre.org')

= slide :legals do
  :markdown
    This project is co-funded by European Union. Europe enrols in Aquitaine with the European Regional Development Fund. 

    Aquitaine Regional Council • SACEA
