= title("Ekylibre")

= slide :head do
  = image_tag("ekylibre.svg", :id => :ekylibre)

= slide :about do
  :markdown
    Ekylibre est un logiciel de gestion intégré pour les TPE agricoles et les TPE de manière plus générale. Le logiciel est distribué sous la licence GNU GPL 3. Il comprend les modules suivants :

      - Gestion des relations clients/fournisseurs
      - Comptabilité générale
      - Gestion commerciale : ventes, achats et stocks
      - Gestion de la production et de la traçabilité
      - Le tout avec une gestion de droits à l’utilisateur

    C’est une application web (donc multi-postes) basée sur le framework [Ruby on Rails](http://rubyonrails.org).

= render "menu"

= slide :news do
  %h2 
    %i.icon-bullhorn
    Actualités
  = news

= slide :screenshots do
  %h2 
    %i.icon-desktop
    Copies d'écrans
  .screenshots= screenshots

= slide :demo do
  %h2 
    %i.icon-play-sign
    Démonstration
  %h3 Version en cours de développement (instable)
  %p 
    Cette version est basée sur la dernière version du projet. Mise à jour chaque jour.
    De ce fait, elle est relativement instable mais présente l'ensemble des dernières nouveautés :
  %ul
    %li= link_to("Démonstration 1.0 (dev)", 'http://demo.ergolis.com')

  %h3 Dernière version stable
  %p 
    Cette version date de janvier 2013. Elle est la version recommandée en production :
  %ul
    %li= link_to("Démonstration 0.4", 'https://ekylibre.org/demo-stable')
  

= slide :download do
  %h2 
    %i.icon-download-alt
    Téléchargement
  %h3 Version stable 0.4.3
  :markdown

      - [Debian Wheezy et Ubuntu 10.10 Maverick (.deb)](https://ekylibre.org/releases/tags/0.4.3/debian/ekylibre_0.4.3_all.deb)
      - Sources : [ZIP](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.4.3/source/ekylibre-0.4.3-source.tar.bz2)

  %h3 Version stable 0.4.2
  :markdown

      - [Microsoft Windows XP SP2 (ou supérieur), Vista ou 7 (.exe)](https://ekylibre.org/releases/tags/0.4.2/win32/ekylibre-0.4.2.exe)
      - [Debian Squeeze et Ubuntu 10.10 Maverick (.deb)](https://ekylibre.org/releases/tags/0.4.2/debian/ekylibre_0.4.2_all.deb)
      - Sources : [ZIP](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.4.2/source/ekylibre-0.4.2-source.tar.bz2)

  %h3 Version stable 0.3.2.4
  :markdown

      - [Microsoft Windows XP SP2 (ou supérieur), Vista ou 7 (.exe)](https://ekylibre.org/releases/tags/0.3.2.4/win32/ekylibre-0.3.2.4.exe)
        Attention! À partir de cette version, une nouvelle base de données est mise en place sous Windows.
        **Cette version n'est pas compatible avec les précédentes <= 0.3.0**.
      - [Debian Squeeze et Ubuntu 10.10 Maverick  (.deb)](https://ekylibre.org/releases/tags/0.3.2.4/debian/ekylibre_0.3.2.4_all.deb)
      - Sources : [ZIP](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.zip) [TGZ](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.tar.gz) [BZ2](https://ekylibre.org/releases/tags/0.3.2.4/source/ekylibre-0.3.2.4-source.tar.bz2)

  %h3 Autres versions
  %ul
    %li= link_to("Dernière version ZIP", "https://github.com/ekylibre/ekylibre/archive/master.zip")
    %li= link_to("Dernière version TGZ", "https://github.com/ekylibre/ekylibre/archive/master.tgz")
    %li= link_to("Anciennes versions", "https://ekylibre.org/releases/tags")

= slide :legals do
  = render "links"
  :markdown
    Ce projet est cofinancé par l'Union Européenne. L'Europe s'engage en Aquitaine avec le Fonds européen de développement régional. 

    Conseil Régional d'Aquitaine • Service d'Aide et de Conseil aux Exploitants Agricoles
