= title("Ekylibre")

= slide :head do
  %br
  %br
  = image_tag("ekylibre.svg", :id => :ekylibre)

= slide :about do
  :markdown
    Ekylibre est un logiciel de gestion intégré pour les TPE agricoles et les TPE de manière plus générale. Le logiciel est distribué sous la licence GNU GPL 3. Il comprend les modules suivants :

      * Gestion des relations Clients/Fournisseurs
      * Comptabilité générale
      * Gestion commerciale : ventes, achats
      * Gestion des stocks : inventaires, approvisionnements, livraisons
      * Gestion de production : animales, végétales, transformations, parcelles, équipements
      * Outils : gestion des documents, calculateurs, référentiels...
      * Configuration : paramètres, utilisateurs, plan de comptes, types de produits...

    C’est une application web (donc multi-postes) basée sur le framework [Ruby on Rails](http://rubyonrails.org).
  = render "links"

= render "menu"

= slide :video do
  %iframe{src: "http://www.youtube.com/embed/#{@video}?autohide=1&autoplay=0&color=white&modestbranding=1&rel=0&showinfo=0&theme=light&listType=user_uploads", frameborder: 0, allowfullscreen: true, class: "video"}

= slide :news do
  %h2 
    %i.icon-bullhorn
    Actualités
  = news

= slide :screenshots do
  %h2 
    %i.icon-desktop
    Copies d'écrans
  .screenshots= screenshots

= slide :demo do
  %h2 
    %i.icon-play-sign
    Démonstration
  %h3 Version en cours
  %p 
    Cette version est basée sur la dernière version du projet. Mise à jour régulièrement.
    De ce fait, elle présente l'ensemble des dernières nouveautés :
  %ul
    %li= link_to("Accéder à la démonstration", 'https://www.ekylibre.org')

= slide :legals do
  :markdown
    Ce projet est cofinancé par l'Union Européenne. L'Europe s'engage en Aquitaine avec le Fonds européen de développement régional. 

    Conseil Régional d'Aquitaine • Service d'Aide et de Conseil aux Exploitants Agricoles
